# coding: utf-8

"""
    cPanel UAPI

    UAPI accesses the cPanel interface's features. Use this API to access and modify cPanel account data and settings.

    The version of the OpenAPI document: 11.125.9901.267
    Contact: cs@cpanel.net
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from pydantic import Field, StrictInt, StrictStr, field_validator
from typing import Optional
from typing_extensions import Annotated
from clientapi_cpanel.models.inline_response200495 import InlineResponse200495

from clientapi_cpanel.api_client import ApiClient, RequestSerialized
from clientapi_cpanel.api_response import ApiResponse
from clientapi_cpanel.rest import RESTResponseType


class SubDomainApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    def addsubdomain(
        self,
        domain: Annotated[StrictStr, Field(description="The subdomain name to create.")],
        rootdomain: Annotated[StrictStr, Field(description="The domain on which to create the new subdomain.  The domain **must** already exist on the cPanel account.")],
        canoff: Annotated[Optional[StrictInt], Field(description="Whether to use a canonical name (CNAME) in the [Apache® configuration for self-referential URLs](https://httpd.apache.org/docs/2.4/mod/core.html#usecanonicalname). * `1` - Use the CNAME. * `0` - Do **not** use the CNAME.")] = None,
        dir: Annotated[Optional[StrictStr], Field(description="The subdomain's document `root` within the home directory, given as a valid directory path relative to the user's home directory.  This value defaults to the user's home directory `/public_html/` path.  **Note:**  If the *Restrict document roots to public_html* value is set to *Off* in WHM's [*Tweak Settings*](https://go.cpanel.net/whmdocsTweakSettings#domains) interface (*WHM >> Home >> Server Configuration >> Tweak Settings*), this parameter defaults to the `/username/` path. For example, the `username` user's subdomain `example` would default to the `/home/username/example` path.")] = None,
        disallowdot: Annotated[Optional[StrictInt], Field(description="Whether to remove the dot (`.`) characters from the `domain` value. * `1` - Remove dots from the domain. * `0` - Do **not** remove dots from the domain.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> InlineResponse200495:
        """Create subdomain

        This function creates a subdomain.  **Important:**  When you disable the [Web Server role](https://go.cpanel.net/serverroles#roles), the system **disables** this function.

        :param domain: The subdomain name to create. (required)
        :type domain: str
        :param rootdomain: The domain on which to create the new subdomain.  The domain **must** already exist on the cPanel account. (required)
        :type rootdomain: str
        :param canoff: Whether to use a canonical name (CNAME) in the [Apache® configuration for self-referential URLs](https://httpd.apache.org/docs/2.4/mod/core.html#usecanonicalname). * `1` - Use the CNAME. * `0` - Do **not** use the CNAME.
        :type canoff: int
        :param dir: The subdomain's document `root` within the home directory, given as a valid directory path relative to the user's home directory.  This value defaults to the user's home directory `/public_html/` path.  **Note:**  If the *Restrict document roots to public_html* value is set to *Off* in WHM's [*Tweak Settings*](https://go.cpanel.net/whmdocsTweakSettings#domains) interface (*WHM >> Home >> Server Configuration >> Tweak Settings*), this parameter defaults to the `/username/` path. For example, the `username` user's subdomain `example` would default to the `/home/username/example` path.
        :type dir: str
        :param disallowdot: Whether to remove the dot (`.`) characters from the `domain` value. * `1` - Remove dots from the domain. * `0` - Do **not** remove dots from the domain.
        :type disallowdot: int
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._addsubdomain_serialize(
            domain=domain,
            rootdomain=rootdomain,
            canoff=canoff,
            dir=dir,
            disallowdot=disallowdot,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "InlineResponse200495",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def addsubdomain_with_http_info(
        self,
        domain: Annotated[StrictStr, Field(description="The subdomain name to create.")],
        rootdomain: Annotated[StrictStr, Field(description="The domain on which to create the new subdomain.  The domain **must** already exist on the cPanel account.")],
        canoff: Annotated[Optional[StrictInt], Field(description="Whether to use a canonical name (CNAME) in the [Apache® configuration for self-referential URLs](https://httpd.apache.org/docs/2.4/mod/core.html#usecanonicalname). * `1` - Use the CNAME. * `0` - Do **not** use the CNAME.")] = None,
        dir: Annotated[Optional[StrictStr], Field(description="The subdomain's document `root` within the home directory, given as a valid directory path relative to the user's home directory.  This value defaults to the user's home directory `/public_html/` path.  **Note:**  If the *Restrict document roots to public_html* value is set to *Off* in WHM's [*Tweak Settings*](https://go.cpanel.net/whmdocsTweakSettings#domains) interface (*WHM >> Home >> Server Configuration >> Tweak Settings*), this parameter defaults to the `/username/` path. For example, the `username` user's subdomain `example` would default to the `/home/username/example` path.")] = None,
        disallowdot: Annotated[Optional[StrictInt], Field(description="Whether to remove the dot (`.`) characters from the `domain` value. * `1` - Remove dots from the domain. * `0` - Do **not** remove dots from the domain.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[InlineResponse200495]:
        """Create subdomain

        This function creates a subdomain.  **Important:**  When you disable the [Web Server role](https://go.cpanel.net/serverroles#roles), the system **disables** this function.

        :param domain: The subdomain name to create. (required)
        :type domain: str
        :param rootdomain: The domain on which to create the new subdomain.  The domain **must** already exist on the cPanel account. (required)
        :type rootdomain: str
        :param canoff: Whether to use a canonical name (CNAME) in the [Apache® configuration for self-referential URLs](https://httpd.apache.org/docs/2.4/mod/core.html#usecanonicalname). * `1` - Use the CNAME. * `0` - Do **not** use the CNAME.
        :type canoff: int
        :param dir: The subdomain's document `root` within the home directory, given as a valid directory path relative to the user's home directory.  This value defaults to the user's home directory `/public_html/` path.  **Note:**  If the *Restrict document roots to public_html* value is set to *Off* in WHM's [*Tweak Settings*](https://go.cpanel.net/whmdocsTweakSettings#domains) interface (*WHM >> Home >> Server Configuration >> Tweak Settings*), this parameter defaults to the `/username/` path. For example, the `username` user's subdomain `example` would default to the `/home/username/example` path.
        :type dir: str
        :param disallowdot: Whether to remove the dot (`.`) characters from the `domain` value. * `1` - Remove dots from the domain. * `0` - Do **not** remove dots from the domain.
        :type disallowdot: int
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._addsubdomain_serialize(
            domain=domain,
            rootdomain=rootdomain,
            canoff=canoff,
            dir=dir,
            disallowdot=disallowdot,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "InlineResponse200495",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def addsubdomain_without_preload_content(
        self,
        domain: Annotated[StrictStr, Field(description="The subdomain name to create.")],
        rootdomain: Annotated[StrictStr, Field(description="The domain on which to create the new subdomain.  The domain **must** already exist on the cPanel account.")],
        canoff: Annotated[Optional[StrictInt], Field(description="Whether to use a canonical name (CNAME) in the [Apache® configuration for self-referential URLs](https://httpd.apache.org/docs/2.4/mod/core.html#usecanonicalname). * `1` - Use the CNAME. * `0` - Do **not** use the CNAME.")] = None,
        dir: Annotated[Optional[StrictStr], Field(description="The subdomain's document `root` within the home directory, given as a valid directory path relative to the user's home directory.  This value defaults to the user's home directory `/public_html/` path.  **Note:**  If the *Restrict document roots to public_html* value is set to *Off* in WHM's [*Tweak Settings*](https://go.cpanel.net/whmdocsTweakSettings#domains) interface (*WHM >> Home >> Server Configuration >> Tweak Settings*), this parameter defaults to the `/username/` path. For example, the `username` user's subdomain `example` would default to the `/home/username/example` path.")] = None,
        disallowdot: Annotated[Optional[StrictInt], Field(description="Whether to remove the dot (`.`) characters from the `domain` value. * `1` - Remove dots from the domain. * `0` - Do **not** remove dots from the domain.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """Create subdomain

        This function creates a subdomain.  **Important:**  When you disable the [Web Server role](https://go.cpanel.net/serverroles#roles), the system **disables** this function.

        :param domain: The subdomain name to create. (required)
        :type domain: str
        :param rootdomain: The domain on which to create the new subdomain.  The domain **must** already exist on the cPanel account. (required)
        :type rootdomain: str
        :param canoff: Whether to use a canonical name (CNAME) in the [Apache® configuration for self-referential URLs](https://httpd.apache.org/docs/2.4/mod/core.html#usecanonicalname). * `1` - Use the CNAME. * `0` - Do **not** use the CNAME.
        :type canoff: int
        :param dir: The subdomain's document `root` within the home directory, given as a valid directory path relative to the user's home directory.  This value defaults to the user's home directory `/public_html/` path.  **Note:**  If the *Restrict document roots to public_html* value is set to *Off* in WHM's [*Tweak Settings*](https://go.cpanel.net/whmdocsTweakSettings#domains) interface (*WHM >> Home >> Server Configuration >> Tweak Settings*), this parameter defaults to the `/username/` path. For example, the `username` user's subdomain `example` would default to the `/home/username/example` path.
        :type dir: str
        :param disallowdot: Whether to remove the dot (`.`) characters from the `domain` value. * `1` - Remove dots from the domain. * `0` - Do **not** remove dots from the domain.
        :type disallowdot: int
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._addsubdomain_serialize(
            domain=domain,
            rootdomain=rootdomain,
            canoff=canoff,
            dir=dir,
            disallowdot=disallowdot,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "InlineResponse200495",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _addsubdomain_serialize(
        self,
        domain,
        rootdomain,
        canoff,
        dir,
        disallowdot,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        if domain is not None:
            
            _query_params.append(('domain', domain))
            
        if rootdomain is not None:
            
            _query_params.append(('rootdomain', rootdomain))
            
        if canoff is not None:
            
            _query_params.append(('canoff', canoff))
            
        if dir is not None:
            
            _query_params.append(('dir', dir))
            
        if disallowdot is not None:
            
            _query_params.append(('disallowdot', disallowdot))
            
        # process the header parameters
        # process the form parameters
        # process the body parameter


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )


        # authentication setting
        _auth_settings: List[str] = [
            'BasicAuth'
        ]

        return self.api_client.param_serialize(
            method='GET',
            resource_path='/SubDomain/addsubdomain',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )


